*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Esteban', serif; */
}

header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 100px;
    background: transparent;
    position: fixed;
    /* border-bottom: 1px solid #fefefe; */
}
.logo{
    font-family: 'Pompiere', cursive;
    color: #fff;
    font-weight: bold;
    /* white-space: nowrap; */
    font-size: 25px;
    text-decoration: none;
    transition: transform 0.3s;
}
.logo:hover{
    color:#000;
    transform:scale(1.2);
    
}
.nav-bar{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;;
}
.nav-bar ul{
    display: flex;
    flex: nowrap;
    justify-content: center;
    align-items: center;
}
.nav-bar ul li{
    list-style: none;
    text-align: center;

}
.nav-bar ul li a{
    display: block;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 5px;
    transition: 0.4s;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-bar ul li a:hover{
    color: #000;
    background:#fefefe;
    text-shadow: none;
}
.home{
    height: 100vh;
    display: flex;
    top: 40%;
}
.home img{
    object-fit: cover;
    object-position: center;
    height: 100vh;
    width: 100%;
    
}

.home-content {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    position: absolute;
    width: 40%;
    margin: 250px 0 0 100px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.home-content h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.home-content h1{
    font-size: 50px;
    font-weight: 900;
    line-height:1;
    margin: 20px 0 10px;
    /* margin-bottom: 30px; */
}
.home-content h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.home-desc{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 200;
    margin: 20px 0;
    position: absolute;
    text-align: justify;
}

.links{
    position: absolute;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.links li{
    list-style-type: none;
}

.links li a{
    font-size: 20px;
    color: black;
    display: inline-block;
    margin-right: 15px;
    background: #fefefe;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}
.links li a:hover{
    color: #fefefe;
    background:rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}
.about{
    height: 100vh;
    
}

.add_info{
    height: 100vh;
    background-color:#bebebe;
    color: white;
}

.contact{
    height: 100vh;
}
@media only screen and (max-width: 1320px) {
    header{
        padding: 0 50px;
    }
    
}

@media only screen and (max-width: 900px) {
    header{
        padding: 0 30px;
    }
    body{
        background-size: 120%;
        background-position-x: 0;
    }
}
@media only screen and (max-width: 768px) {
    body{
        background-size: 200%;
        background-position-x: -500px;
    }
    
}